<% if flash.any? %>
  <% flash.each do |type, msg| %>
		<% if msg == "transmis" %>
			<div class="fr-alert fr-alert--success fr-mb-2w">
				<h3 class="fr-alert__title">
				Avis transmis avec succès. Vous pouvez déposer votre avis complet sur Resana en cliquant <a href='https://resana.numerique.gouv.fr/public/perimetre/consulter/277653' target="_blank">ici</a>.
				</h3>
				<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
			</div>
		<% elsif msg == "Lu" %>
			<div class="fr-alert fr-alert--success fr-mb-2w">
				<h3 class="fr-alert__title">L'avis a bien été marqué comme lu.</h3>
				<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
			</div>
		<% elsif msg == "Lus" %>
			<div class="fr-alert fr-alert--success fr-mb-2w">
				<h3 class="fr-alert__title">Les avis ont bien été marqués comme lus.</h3>
				<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
			</div>
		<% elsif msg == "Modification" %>
			<div class="fr-alert fr-alert--success fr-mb-2w">
				<h3 class="fr-alert__title">L'avis a bien été modifié.</h3>
				<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
			</div>
		<% elsif msg[0..3] == "Avis"%>
			<div class="fr-alert fr-alert--success fr-mb-2w">
				<h3 class="fr-alert__title"> <%= msg %></h3>
				<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
			</div>
		<% end %>
  <% end %>
<% end %>