<div class="fr-container" >
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-my-6w">Consultation des avis et des notes émis par les CBR et DCB</h1>
    </div>
  </div>

  <div id="table">
    <%= render 'table' %>
  </div>
</div>