<main role="main" class="containtAll">
  <% if Date.today <= @date1 %>
    <%= render 'form_crg1'%>
  <% end %>
  <% if @date1 < Date.today && Date.today <= @date2 %>
    <% if @bop.avis.where(phase: "debut").count == 0 %>
      <%= render 'form_debut'%>
    <% else %>
    <% end %>
  <% end %>
  <% if Date.today > @date2 %>
    <% if @bop.avis.where(phase: "debut").count == 0 %>
      <%= render 'form_debut'%>
    <% elsif @bop.avis.where(phase: "crg1", is_crg1: true).count == 0 %>
    <% else %>
    <% end %>
  <% end %>
</main>