<% steps_max = @programme.dotation == "HT2" ? 2 : 4 %>
<div class="fr-stepper">
  <h2 class="fr-stepper__title">
    <span class="fr-stepper__state">Étape 1 sur <%= steps_max %></span>
    Vision RPROG Crédits HT2 - AE/CP
  </h2>
  <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="<%= steps_max %>"></div>
  <p class="fr-stepper__details">
    <span class="fr-text--bold">Étape suivante :</span> Vision CBCM Crédits HT2 - AE/CP
  </p>
</div>

<div class="fr-alert fr-alert--info fr-mb-2w">
  <h3 class="fr-alert__title">Tous les champs sont à remplir en positif sauf cas contraire indiqué et à l’euro près. Les soldes seront calculés automatiquement.</h3>
</div>

<div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
  <div class="fr-col-6 fr-col-lg-6">

    <div class="fr-h3"><p class="fr-badge fr-badge--beige-gris-galet">Vision RPROG</p> Crédits HT2 - AE/CP</div>

    <%= render 'form_ht2' %>
  </div>
</div>

