<% content_for :title do %>Questions fréquentes | ANACO
<% end %>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
      <h1 class="fr-my-6w">Questions fréquentes </h1>

      <div class="fr-mb-4w">Cette foire aux questions se propose de recenser et d’apporter des éléments de réponse aux
        interrogations des acteurs du dispositif. Pour toutes vos questions et besoins de renseignements
        supplémentaires, veuillez nous contacter par mail à l'adresse mail suivante :
        <a href="mailto:2rec.budget@finances.gouv.fr" target="_blank">2rec.budget@finances.gouv.fr</a> ou via
        <a href="https://tchap.gouv.fr/#/room/#ANACOtechniquespPAQuH0VrbX:agent.finances.tchap.gouv.fr" target="_blank" title="Rejoindre le salon TCHAP ANACO">la
          messagerie instantanée TCHAP</a></div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-tile fr-tile--download fr-enlarge-link" id="tile-13">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a class="fr-download__link" href="/Guide_utilisateur_avis.pdf" download>Télécharger le guide utilisateur
                des avis aux BOP et notes CRG</a>
            </h3>
            <p class="fr-tile__detail">PDF – 4Mo</p>
            <div class="fr-tile__start">
              <p class="fr-badge fr-badge--purple-glycine fr-badge--sm">avis à la programmation</p>
            </div>
          </div>
        </div>
        <div class="fr-tile__header">
        </div>
      </div>
    </div>
    <% if current_user.statut != "CBR" %>
      <div class="fr-col-12 fr-col-lg-4">
        <div class="fr-tile fr-tile--download fr-enlarge-link" id="tile-13">
          <div class="fr-tile__body">
            <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                <a class="fr-download__link" href="/Guide_utilisateur_schema_fin_gestion.pdf" download>Télécharger le
                  guide utilisateur des schémas de fin de gestion</a>
              </h3>
              <p class="fr-tile__detail">PDF – 3Mo</p>
              <div class="fr-tile__start">
                <p class="fr-badge fr-badge--no-icon fr-badge--info fr-badge--sm">schemas fin de gestion</p>
              </div>
            </div>
          </div>
          <div class="fr-tile__header">
          </div>
        </div>
      </div>
    <% end %>
    <div class="fr-col-12 fr-col-lg-4">
      <div class="fr-tile fr-tile--download fr-enlarge-link" id="tile-13">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a class="fr-download__link" href="/Guide_utilisateur_actes.pdf" download>Télécharger le guide utilisateur
                des actes du contrôle a priori</a>
            </h3>
            <p class="fr-tile__detail">PDF – 5,5Mo</p>
            <div class="fr-tile__start">
              <p class="fr-badge fr-badge--no-icon fr-badge--success fr-badge--sm">Instruction des actes</p>
            </div>
          </div>
        </div>
        <div class="fr-tile__header">
        </div>
      </div>
    </div>
  </div>

  <h2 class="fr-my-4w">Liste des questions </h2>
  <div class="fr-tabs fr-mb-4w">
    <ul class="fr-tabs__list" role="tablist" aria-label="FAQ">
      <li role="presentation">
        <button type="button" id="storybook-tab-0" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="false" aria-controls="storybook-tab-0-panel">Avis
          à la programmation
        </button>
      </li>
      <li role="presentation">
        <button type="button" id="storybook-tab-1" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="true" aria-controls="storybook-tab-1-panel">Instruction
          des actes <span class="fr-badge fr-badge--success fr-badge--sm fr-badge--no-icon fr-ml-2w">Nouveau</span>
        </button>
      </li>
    </ul>
    <div id="storybook-tab-0-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="storybook-tab-0" tabindex="0">
      <div class="fr-accordions-group fr-mb-4w">
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-114">Comment faire part du
              contenu des documents adressés en réponse à l’ordonnateur (avis au BOP ou note de CRG) ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-114">
            Il convient de déposer sur la plateforme
            <a href='https://resana.numerique.gouv.fr/public/perimetre/consulter/277653' target="_blank">RESANA</a>,
            dans les dossiers dédiés, les avis et notes CRG adressés aux ordonnateurs et de renvoyer vers eux via un
            lien hypertexte intégré à la fin des synthèses et observations à usage interne inscrites dans ANACO.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-115">Un DCB peut-il entrer
              un avis au programme ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-115">

            Non, à ce stade, les avis et les CRG au niveau programme ont vocation à être déposés et consultés sur
            Turgot.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-116">Pourquoi certains
              programmes sont-ils absents d’ANACO ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-116">
            A ce stade, les programmes sans BOP déconcentrés ne sont pas inclus dans ANACO.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-117">Que faire en présence
              d’un BOP déconcentré non doté ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-117">
            Un BOP peut être considéré comme utilisable dans Chorus mais ne pas être mobilisé. Dans ce cas, il
            conviendra d'indiquer dans l'outil que le BOP n'est pas doté.
          </div>
        </section>


        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-119">La date de réception
              du BOP initial doit-elle s’entendre comme date de réception des premiers éléments ou comme date de
              réception de tous les éléments utiles ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-119">
            La date de réception du BOP initial à indiquer est celle correspondant à l'envoi par le RBOP de sa
            programmation. Le délai nécessaire pour compléter éventuellement le dossier ou tenir une réunion relève du
            délai de suspension.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-120">Pour un BOP comportant
              du T2 et du HT2, est-il possible de retracer dans ANACO son traitement en deux temps distincts : un pour
              la programmation du HT2 et un autre pour la programmation du T2 ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-120">

            Il convient de reporter sur ANACO seulement la date de réception la plus tardive et l’avis consolidé (HT2 +
            T2). En cas de suspension de CRG1 ne valant que pour la programmation du HT2 ou que pour la programmation du
            T2, il convient de répondre « non » à la question « CRG1 suspendu ? »
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-121">S'agissant des
              ressources allouées, faut-il reporter les montants figurant dans le DRICE ou le DPU, même si des
              délégations allant au-delà ont déjà été notifiées au RBOP ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-121">
            Il convient de saisir la dotation au BOP la plus récemment connue, quelle que soit la façon dont les
            ressources allouées sont rendues certaines. Toutefois, en cas de disjonction avec les indications portées au
            DRICE ou au DPU, une mention explicative doit être intégrée dans les commentaires du contrôleur.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-122">Comment indiquer les
              allègements de visa d’actes accordés par un contrôleur pour un BOP donné ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-122">
            A ce stade, ANACO ne permet pas le suivi de l’activité liée au contrôle a priori des actes. Lorsque des
            allègements autres que la suspension de CRG1 sont accordés par le contrôleur budgétaire, il convient de les
            préciser dans la synthèse de l’avis.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-123">Que signifie «
              consommation à la ressource » ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-123">

            Absence d'écart négatif ou positif significatif entre allocation des ressources et estimation des besoins.
            Autrement dit, cette expression doit s’entendre comme « consommation des crédits à hauteur de la ressource
            allouée ».
          </div>
        </section>

      </div>
    </div>
    <div id="storybook-tab-1-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="storybook-tab-1" tabindex="0">
      <div class="fr-accordions-group fr-mb-4w">
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-1">Dans quel cas faut-il
              créer un acte en pré-instruction ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-1">
            Lorsqu'un ordonnateur saisit le contrôleur pour information ou pour conseil, l'instructeur peut ajouter un
            nouvel acte en pré-instruction.<br>
            Quand le contrôleur est saisi officiellement pour visa ou avis, l'instructeur peut alors basculer l'acte "en
            instruction", ce qui permet de conserver tout l'historique de la pré-instruction. L'acte sera également
            tracé comme ayant fait l'objet d'une pré-instruction initiale dans le tableau de bord. La pré-instruction
            est parfois appelée "pré visa" dans certains services de contrôle.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-2">Quand faut-il clore un
              acte en pré-instruction ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-2">
            Si l'ordonnateur abandonne définitivement le projet d'acte transmis initialement pour information au
            contrôleur (ex : projet de convention annulé), l'instructeur peut clôturer la pré-instruction. Cette action
            rend l'acte définitivement "Clôturé après pré-instruction".
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-3">Quand faut-il
              suspendre ou interrompre l'instruction du dossier ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-3">
            Toute demande d'information complémentaire au service ordonnateur par le service de contrôle a pour effet de
            suspendre (pour un avis) ou d'interrompre (pour un visa) le délai de traitement y compris lorsque l'acte n'a
            pas fait l'objet d'un renvoi dans Chorus. Chaque suspension / interruption se fait à l'étape 3 de
            l'instruction et est obligatoirement tracée dans ANACO.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-4">Comment est calculé le
              délai de traitement des actes ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-4">
            L'article 103 du décret GBCP prévoit que le contrôleur budgétaire délivre son visa ou rend son avis dans un
            délai de quinze jours calendaires à compter de la réception des actes qui lui sont soumis.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-5">Quand faut-il utiliser
              la mention "Retour sans décision" dans la liste déroulante de la décision de contrôle ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-5">
            Ce champ est utilisé pour tracer le renvoi définitif de l'EJ dans Chorus, alors qu'aucune décision de
            contrôle ne doit être rendue (exemples : montant inférieur au seuil de visa, acte soumis à allègement). A
            noter que dans le cas d'une saisine a posteriori, le renvoi sans décision est tracé en tant que tel dans
            ANACO, afin qu'il soit comptabilisé dans le tableau de bord.<br>
            Ce champ n'est donc pas utilisé lorsque l'EJ est renvoyé dans Chorus au service ordonnateur pour
            modification : dans ce cas, il s'agit d'une suspension/interruption.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-6">Que faire quand le
              montant de l'acte soumis à l'instruction est inférieur au seuil de contrôle ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-6">
            Le contrôleur ne doit pas rendre de décision dans ce cas de figure ; il convient alors de saisir à l'étape 3
            la décision "Retour sans décision".
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-7">Il est constaté au
              cours de l'instruction que l'acte est déjà notifié ; que faut-il faire ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-7">
            Dans ce cas, il faut saisir dans la décision de contrôle "Saisine a posteriori" à l'étape 3. Pour rappel,
            vous pouvez
            consulter la fiche flash métier 2025-01, disponible sur budget+, sur la régularisation d'un acte a
            posteriori.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-8">Que peut-on saisir
              dans le champ "montant total engagé" (pour un visa) ou "montant estimatif global" (pour un avis) ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-8">
            Le deuxième champ qui concerne le montant (après le champ obligatoire "Montant de l'acte (AE)" dans le cas
            d'un avis et "Montant engagé par l'acte" dans le cas d'un visa) permet de compléter des informations sur le
            montant. Par exemple, dans le cas d'un avenant, le montant obligatoire sera le montant de l'avenant en cours
            d'analyse et l'instructeur peut renseigner dans le deuxième champ le montant de l'acte initial augmenté de
            l'avenant.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-9">Comment saisir dans
              ANACO un marché avec plusieurs lots ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-9">
            La fonction "dupliquer l'acte" peut être très pratique dans ce cas. Elle permettra de conserver la plupart
            des informations qui sont identiques sur chaque lot et de faciliter la saisie.<br>
            Autre possibilité : lorsque plusieurs lots sont sur le même EJ dans Chorus (un seul visa), il est possible
            de créer des lignes de postes pour détailler chaque lot.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-10">Qu'est-ce qu'une
              "liste d'actes" (ou visa de liste) ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-10">
            Le contrôleur peut être saisi d'une liste regroupant plusieurs actes à instruire. Il ne rendra qu'une seule
            décision pour tous ces actes.
          </div>
        </section>

        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-11">Le document de
              programmation du BOP doit-il lister les actes soumis au visa ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-11">
            Le RRCBE prévoit (III.A.4.4 p. 69) que le document de programmation du BOP est accompagné d'une liste des
            principaux actes de gestion prévus pour l'exercice. Cette liste comporte au minimum les actes HT2, soumis à
            l'avis ou au visa préalable du contrôleur budgétaire. La maquette du document de programmation présente les
            principaux actes de gestion qui doivent être recensés.
          </div>
        </section>
        <section class="fr-accordion">
          <h3 class="fr-accordion__title">
            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-1-12">Quel lien existe-t-il
              entre ANACO et Chorus ?
            </button>
          </h3>
          <div class="fr-collapse" id="accordion-1-12">
            A ce jour, les deux applications n'ont pas vocation à être interfacées. En revanche, l'équipe projet
            souhaite travailler sur la possibilité d'intégrer des éléments issus de restitutions Chorus dans ANACO. Une
            telle évolution d'ANACO pourrait être étudiée à moyen terme.
          </div>
        </section>
      </div>
    </div>
  </div>


</div>