<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <% if msg == "transmis" %>
      <div class="fr-alert fr-alert--success fr-mb-2w">
        <h3 class="fr-alert__title">
          Crédits non répartis ajoutés avec succès.
        </h3>
        <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
      </div>
    <% elsif msg[0..3] == "Avis"%>
      <div class="fr-alert fr-alert--success fr-mb-2w">
        <h3 class="fr-alert__title"> <%= msg %></h3>
        <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">Masquer le message</button>
      </div>
    <% end %>
  <% end %>
<% end %>