<a class="fr-link" aria-describedby="<%= name %>" id="link-<%= name %>" href="#" data-controller="filter" data-action="filter#Dropdown">
  <span class="fr-icon-question-line fr-icon--sm" aria-hidden="true"></span>
</a>
<span class="fr-tooltip fr-placement" id="<%= name %>" role="tooltip" aria-hidden="true">
  <% if name == "date_chorus" %>
  Date faisant foi juridiquement pour calculer le délai d’instruction de l’acte.
  <% end %>
</span>