/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content-form {
  min-height: 300px !important;
}
.trix-content{
  // min-height: 300px !important;
}
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  //flex: 1 0 33%;
  //padding: 0 0.5em;
  //max-width: 33%;
  flex: 1 0 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  //flex-basis: 50%;
  //max-width: 50%;
  flex-basis: 100% !important;
  max-width: 100% !important;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

/* Taille par défaut des images */
.trix-content action-text-attachment img {
  //width: 500px !important;
  max-width: 100% !important;
  height: auto !important;
  margin: 15px 0 !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}