@charset "UTF-8";

html{
  height: 100%;
}

body div{
  font-family: Marianne, sans-serif;
}
a{
  &:hover{
  cursor:pointer;
  }
}

.fr-header__brand:hover, .fr-footer__brand:hover{
  background-color:transparent !important;
}
.fr-text-lg{
  font-size:1.125rem;
}
h1, h2{
  position:relative;
}
.background{
	background-image: image-url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.titre{
	margin-top:20%;
	
}
.titre span, .soustitre span{
	background-color: var(--text-inverted-grey);
}
.cbleu{
  color: var(--text-action-high-blue-france) !important;
}

.crouge{
	color: var(--background-flat-error) !important;
}
.cwarning{
  color: var(--text-default-warning) !important;
}
.notice--warning {
  color: var(--text-default-warning) !important;
  background-color: var(--background-contrast-warning) !important;

  --idle: transparent;
  --hover: var(--background-contrast-warning-hover);
  --active: var(--background-contrast-warning-active);
}
.notice--warning .fr-notice__body::before, .notice--red .fr-notice__body::before{
  -webkit-mask-image: image-url("icons/Systeme/fr--warning-fill.svg") !important;
  mask-image: image-url("icons/Systeme/fr--warning-fill.svg") !important;
  content: "";
}

.notice--red {
	color: var(--text-default-error) !important;
  background-color: var(--background-contrast-error) !important;

  --idle: transparent;
  --hover: var(--background-contrast-error-hover);
  --active: var(--background-contrast-error-active);
}

.fr-card--blue {
  background-color: var(--background-contrast-info) !important;

  --idle: transparent;
  --hover: var(--background-contrast-info-hover);
  --active: var(--background-contrast-info-active);
  color: var(--background-action-high-blue-france);
}
.fr-card--green {
  background-color: var(--background-contrast-green-menthe) !important;

  --idle: transparent;
  --hover: var(--background-contrast-green-menthe);
  --active: var(--background-contrast-green-menthe);
  color: var(--text-label-green-menthe);
}
.fr-card--orange {
  background-color: var(--background-contrast-orange-terre-battue) !important;
  --idle: transparent;
  --hover: var(--background-contrast-orange-terre-battue);
  --active: var(--background-contrast-orange-terre-battue);
  color: var(--text-label-orange-terre-battue);
}
.text_center{
  text-align:center
}
.bouton_inactive {
  background-color: var(--background-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
  &:hover,&:active {
  background-color: var(--background-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
  cursor: not-allowed !important;
  }
}
.flatpickr-input::placeholder{
  color: var(--text-title-grey) !important;
}

.fr-badge .fr-icon--sm {
  margin-right: 0.25rem;
}

.highcharts-credits{
  color:var(--background-default-grey)!important;
  fill: var(--background-default-grey) !important;
  opacity:0 !important;
}
.highcharts-tooltip, .highcharts-tooltip-box {
  z-index: 100 !important;
}
.highcharts-container, .highcharts-root{
  width:100% !important;
}
.highcharts-background{
  fill: var(--background-default-grey) !important;
}
.highcharts-title, .highcharts-subtitle, .highcharts-no-data, .btn-plus{
  color:var(--text-title-grey) !important;
  fill:var(--text-title-grey) !important;
  font-size: 1rem;
}

.fr-nav .fr-fieldset{
  padding: 0.75rem 1rem !important;

}
.fr-nav .fr-fieldset .fr-label, .fr-nav .fr-fieldset .fr-fieldset__legend {
  font-size: 0.875rem !important;
}

.fr-translate .fr-translate__btn::before {
  --icon-size: 0rem !important;
}
.fr-translate__menu{
  margin: -0.25rem -1rem 0 !important;
}

.fr-table table {
  max-height: 30rem;
  overflow: auto;
  min-height: 18rem !important;
}
.fr-table td, .fr-table th {
  max-width:20rem !important;
}
.fr-table thead th {
  position: sticky;
  top: 0px;
  background-color: var(--background-contrast-grey);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-plain-grey), var(--border-plain-grey));
  min-width:8rem !important;
}
.fr-input-group .fr-message {
  font-size: 0.85rem !important;
}
.fr-input-group .fr-message--info{
  font-size: 1rem !important;
}
.filter-table-list{
  background-color: var(--background-overlap-grey);
  display: grid;
  grid-template-rows: repeat(var(--rows), auto);
  grid-auto-flow: column;
  pointer-events: auto;
}

.filter-table-list .fr-fieldset {
  max-height: 10rem;
  overflow: auto;
  margin-bottom: 0rem !important;
  padding: 0.75rem 1rem !important;
}
.filter-table-list .fr-checkbox-group{
  margin-right: 0.5rem !important;
}
.fr-nav-filter{
  position:absolute !important;
  right:0 !important;
  top: 0 !important;
  height: 100% !important;
}
.fr-nav-filter .fr-menu{
  right: 0 !important;
  pointer-events: none;
  position: absolute;
  top: 100%;
  z-index: calc(var(--ground) + 1000);


}
.filter-table-btn2{
  height: 100%;
  width: auto;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.25rem;
}
.filter-table-btn2[aria-expanded=true]::after {
  transform: rotate(-180deg);
}
.filter-table-btn2::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: image-url("icons/Systeme/arrow-down-s-fill.svg");
  mask-image: image-url("icons/Systeme/arrow-down-s-fill.svg");
  --icon-size: 1rem;
  content: "";
  margin-left: auto;
  transition: transform 0.3s;
}
.filter-table-btn2[aria-expanded=true]{
  color: var(--text-active-blue-france);
  background-color: var(--background-open-blue-france);

  --idle: transparent;
  --hover: var(--background-open-blue-france-hover);
  --active: var(--background-open-blue-france-active);
}
