@charset "UTF-8";

html{
  height: 100%;
}

body div{
  font-family: Marianne, sans-serif;
}
a{
  &:hover{
  cursor:pointer;
  }
}

.fr-header__brand:hover, .fr-footer__brand:hover{
  background-color:transparent !important;
}
.fr-text-lg{
  font-size:1.125rem;
}
h1, h2{
  position:relative;
}
.background{
	background-image: image-url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.titre{
	margin-top:20%;
	
}
.titre span, .soustitre span{
	background-color: var(--text-inverted-grey);
}
.cbleu{
  color: var(--text-action-high-blue-france) !important;
}

.crouge{
	color: var(--background-flat-error) !important;
}

.notice--warning {
  color: var(--text-default-warning) !important;
  background-color: var(--background-contrast-warning) !important;

  --idle: transparent;
  --hover: var(--background-contrast-warning-hover);
  --active: var(--background-contrast-warning-active);
}
.notice--warning .fr-notice__body::before, .notice--red .fr-notice__body::before{
  -webkit-mask-image: image-url("icons/Systeme/fr--warning-fill.svg") !important;
  mask-image: image-url("icons/Systeme/fr--warning-fill.svg") !important;
  content: "";
}

.notice--red {
	color: var(--text-default-error) !important;
  background-color: var(--background-contrast-error) !important;

  --idle: transparent;
  --hover: var(--background-contrast-error-hover);
  --active: var(--background-contrast-error-active);
}