@charset "UTF-8";
html{
  height: 100%;
}
.fr-text-lg{
  font-size:1.125rem;
}

h1, h2{
  position:relative;
}
.background{
	background-image: image-url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.flex-grow {
  flex-grow: 1;
}

.titre{
	margin-top:20%;
}
.titre span, .soustitre span{
	background-color: var(--text-inverted-grey);
}
.cbleu{
  color: var(--text-action-high-blue-france) !important;
}

.crouge{
	color: var(--background-flat-error) !important;
}
.cwarning{
  color: var(--text-default-warning) !important;
}
.cbleu-minor{
 color: var(--artwork-minor-blue-france);
}
.cgreen{
  color: var(--green-emeraude-850-200);
}
.cblack{
  color: var(--text-default-grey);
}
.notice--warning {
  color: var(--text-default-warning) !important;
  background-color: var(--background-contrast-warning) !important;

  --idle: transparent;
  --hover: var(--background-contrast-warning-hover);
  --active: var(--background-contrast-warning-active);
}
.notice--warning .fr-notice__body::before, .notice--red .fr-notice__body::before{
  -webkit-mask-image: image-url("icons/system/fr--warning-fill.svg") !important;
  mask-image: image-url("icons/system/fr--warning-fill.svg") !important;
  content: "";
}

.notice--red {
	color: var(--text-default-error) !important;
  background-color: var(--background-contrast-error) !important;

  --idle: transparent;
  --hover: var(--background-contrast-error-hover);
  --active: var(--background-contrast-error-active);
}

.fr-card--blue {
  background-color: var(--background-contrast-info) !important;

  --idle: transparent;
  --hover: var(--background-contrast-info-hover);
  --active: var(--background-contrast-info-active);
  color: var(--background-action-high-blue-france);
}
.fr-card--green {
  background-color: var(--background-contrast-green-menthe) !important;

  --idle: transparent;
  --hover: var(--background-contrast-green-menthe);
  --active: var(--background-contrast-green-menthe);
  color: var(--text-label-green-menthe);
}
.fr-card--orange {
  background-color: var(--background-contrast-orange-terre-battue) !important;
  --idle: transparent;
  --hover: var(--background-contrast-orange-terre-battue);
  --active: var(--background-contrast-orange-terre-battue);
  color: var(--text-label-orange-terre-battue);
}
.fr-card--red{
  background-color: var(--background-contrast-error) !important;
  --idle: transparent;
  --hover: var(--background-contrast-error);
  --active: var(--background-contrast-error);
  color: var(--red-marianne-main-472);
}

.fr-card--creme{
  color: var(--text-label-brown-cafe-creme);
  background-color: var(--background-contrast-brown-cafe-creme) !important;
  --idle: transparent;
  --hover: var(--background-contrast-brown-cafe-creme-hover);
  --active: var(--background-contrast-brown-cafe-creme-active);
}

.fr-card-round--blue{
  background-color: var(--background-alt-blue-france) !important;
  padding: 8px 1rem;
  border-radius: 20px;
}
.text_center{
  text-align:center
}
.bouton_inactive {
  background-color: var(--background-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
  &:hover,&:active {
  background-color: var(--background-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
  cursor: not-allowed !important;
  }
}
.flatpickr-input::placeholder{
  color: var(--text-title-grey) !important;
}

.fr-badge .fr-icon--sm {
  margin-right: 0.25rem;
}

.highcharts-credits{
  color:var(--background-default-grey)!important;
  fill: var(--background-default-grey) !important;
  opacity:0 !important;
}
.highcharts-tooltip, .highcharts-tooltip-box {
  z-index: 100 !important;
}
.highcharts-container, .highcharts-root{
  width:100% !important;
}
.highcharts-background{
  fill: var(--background-default-grey) !important;
}
.highcharts-title, .highcharts-subtitle, .highcharts-no-data, .btn-plus{
  color:var(--text-title-grey) !important;
  fill:var(--text-title-grey) !important;
  font-size: 1rem;
}

.fr-nav .fr-fieldset{
  padding: 0.75rem 1rem !important;

}
.fr-nav .fr-fieldset .fr-label, .fr-nav .fr-fieldset .fr-fieldset__legend {
  font-size: 0.875rem !important;
}

.fr-translate .fr-translate__btn::before {
  --icon-size: 0rem !important;
}
.fr-translate__menu{
  margin: -0.25rem -1rem 0 !important;
}

.fr-table--col-restricted .fr-table__content th,.fr-table--col-restricted .fr-table__content td{
  padding: 0.75rem !important;
}

.fr-table--vscroll table {
  max-height: 35rem;
  overflow: auto;
  min-height: 18rem !important;
}
.fr-table td, .fr-table th {
  max-width:20rem !important;
}
.fr-table thead th {
  position: sticky;
  top: 0px;
  background-color: var(--background-contrast-grey);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-plain-grey), var(--border-plain-grey));
  min-width:8rem !important;
}
.fr-table th.fr-col-check{
  min-width: 3rem !important;
  max-width: 3rem !important;
}
.table-content-scroll{
  max-height:35rem;
  overflow-y: auto;
  overflow-x:hidden;
}
.total{
  background-color:var(--blue-france-950-100) !important;
}
.fr-input-group .fr-message {
  font-size: 0.85rem !important;
}
.fr-input-group .fr-message--info{
  font-size: 1rem !important;
}
.fr-input-group .fr-text--small{
  font-size: 0.75rem !important;
}
.filter-table-list{
  background-color: var(--background-overlap-grey);
  display: grid;
  grid-template-rows: repeat(var(--rows), auto);
  grid-auto-flow: column;
  pointer-events: auto;
}

.filter-table-list .fr-fieldset {
  max-height: 10rem;
  overflow: auto;
  margin-bottom: 0rem !important;
  padding: 0.75rem 1rem !important;
}
.filter-table-list .fr-checkbox-group{
  margin-right: 0.5rem !important;
}
.fr-nav-filter{
  position:absolute !important;
  right:0 !important;
  top: 0 !important;
  height: 100% !important;
}
.fr-nav-filter .fr-menu{
  right: 0 !important;
  pointer-events: none;
  position: absolute;
  top: 100%;
  z-index: calc(var(--ground) + 1000);


}
.filter-table-btn2{
  height: 100%;
  width: auto;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.25rem;
}
.filter-table-btn2[aria-expanded=true]::after {
  transform: rotate(-180deg);
}
.filter-table-btn2::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: image-url("icons/system/arrow-down-s-fill.svg");
  mask-image: image-url("icons/system/arrow-down-s-fill.svg");
  --icon-size: 1rem;
  content: "";
  margin-left: auto;
  transition: transform 0.3s;
}
.filter-table-btn2[aria-expanded=true]{
  color: var(--text-active-blue-france);
  background-color: var(--background-open-blue-france);

  --idle: transparent;
  --hover: var(--background-open-blue-france-hover);
  --active: var(--background-open-blue-france-active);
}
@media (min-width: 62em) {
  .fr-table--layout-fixed--lg table {
    display: table !important;
    table-layout: fixed !important;
  }
}

.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fr-btn--full {
  display: block !important; /* Transforme le bouton en bloc pour qu'il occupe toute la largeur */
  width: 100% !important; /* Étend la largeur sur 100% */
  text-align: center !important; /* Centre le texte horizontalement */
}

.fr-align-center {
  display: flex;
  justify-content: center; /* Centrer les éléments horizontalement */
  align-items: center;
  gap: 0.5rem; /* Ajouter un espacement entre les boutons */
}
.fr-capitalize::first-letter{
  text-transform: uppercase;
}

.fr-text--italic{
  font-style: italic;
}
.fr-collapse--grey{
  background-color: var(--grey-975-75) !important;
}

.fr-table--total th, .fr-table--total td {
  background-color:var(--blue-france-950-100) !important;
}

a.fr-tag[aria-pressed=true]:not(:disabled) {
  background-color: transparent;
  color: var(--text-inverted-blue-france);
  background-image: radial-gradient(circle at 100% 0.25rem, transparent 0.578125rem, var(--background-active-blue-france) 0.625rem);
}

a.fr-tag[aria-pressed=true]:not(:disabled):hover{
  background-image: radial-gradient(circle at 100% 0.25rem, transparent 0.578125rem, var(--background-active-blue-france-hover) 0.625rem);
}

a.fr-tag[aria-pressed=true]:not(:disabled):active {
  background-image: radial-gradient(circle at 100% 0.25rem, transparent 0.578125rem, var(--background-active-blue-france-active) 0.625rem);
}

a.fr-tag[aria-pressed=true]::after{
  color: var(--text-action-high-blue-france);
}

.tag-selectable.is-selected {
  background-color: transparent;
  color: var(--text-inverted-blue-france) !important;
  background-image: radial-gradient(
                  circle at 100% 0.25rem,
                  transparent 0.578125rem,
                  var(--background-active-blue-france) 0.625rem
  ) !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  overflow: visible !important;
  position: relative !important;
  cursor: pointer !important;
}
.tag-selectable.is-selected::after {
  color: var(--text-action-high-blue-france) !important;
  --icon-size: 1rem;
  background-color: var(--text-action-high-blue-france);
  content: "";
  display: inline-block;
  flex: 0 0 auto;
  height: var(--icon-size);
  margin: -.5rem;
  -webkit-mask-image: url(icons/system/checkbox-circle-line.svg);
  mask-image: url(icons/system/checkbox-circle-line.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 4px;
  vertical-align: calc((.75em - var(--icon-size)) * .5);
  width: var(--icon-size);
}

.tag-selectable {
  color: var(--text-action-high-blue-france) !important;
  background-color: var(--background-action-low-blue-france) !important;

  --idle: transparent !important;
  --hover: var(--background-action-low-blue-france-hover) !important;
  --active: var(--background-action-low-blue-france-active) !important;

  cursor: pointer !important;
}

.fr-modal__body.fr-modal--body-search{
  max-height: 30vh !important;
}

/* Transforme le modal DSFR en panneau latéral gauche */
.fr-modal--custom{
  padding: 0 !important;
  --modal-max-width: 34rem !important;

}
.fr-modal--custom::before, .fr-modal--custom::after{
  height: 100% !important;
  width: calc(100% - var(--modal-max-width)) !important;
  flex: 1 0 0 !important;
}
.fr-modal-custom__row--left{
  justify-content: flex-start !important;      /* aligne le contenu à gauche */
  align-items: stretch;            /* prend toute la hauteur */
  padding: 0;                      /* enlève le padding DSFR */
  height: 100vh;                   /* plein écran */
  max-height: 100vh;
  max-width: 34rem !important;
}

.fr-modal-custom__body{
  pointer-events: all;
  overflow-y: auto;
  flex: 1 1 auto;
  z-index: calc(var(--ground) + 2000);
  background-color: var(--background-lifted-grey);

  --idle: transparent;
  --hover: var(--background-lifted-grey-hover);
  --active: var(--background-lifted-grey-active);
  --modal-max-height: 100vh !important;
  max-height: 100vh !important;
  height: 100vh !important;
  filter: none;
}
.fr-modal-custom__body.fr-scroll-divider .fr-modal__footer {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));
}
.shadow {
  filter: drop-shadow(var(--lifted-shadow)) !important;
}
.hide-icons {
  background-image: none !important;
}
.hide-icons::after {
  display: none !important;
}

.image-icone{
  max-height: 80px;
  margin: 0 auto;
  display: block;
}
.fr-nav--dropdown{
  position: relative;
  display: inline-block;
 }
.fr-menu--dropdown{
  width: 100% !important;
  margin: -4px 0 !important;
  padding: 0 !important;
}

.pie-wrapper {
  display: flex;
  justify-content: center;
}

.pie-wrapper .fr-pie {
  max-width: 400px;
  width: 100%;
}

/* app/assets/stylesheets/autocomplete.css */
.autocomplete-results {
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-top: 2px;
}

.autocomplete-item {
  padding: 8px 12px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.flatpickr-calendar {
  z-index: 99999 !important; /* ou plus, selon le z-index de ton modal */
}

.fr-follow .fr-tabs__panel, .fr-container-blue .fr-tabs__panel{
  background-color: var(--background-default-grey);
}

/* Conteneur scrollable */
.sheet-scroll {
  overflow-x: auto;
  overflow-y: hidden;     /* optionnel */
  width: 100%;
  -webkit-overflow-scrolling: touch; /* iOS */
}

/* Laisse la grille dépasser en largeur pour que le scroll apparaisse */
/* v5 */
.sheet-scroll .jss,
.sheet-scroll .jss_container {
  min-width: max-content;
}

.fr-home-actes .fr-tile__title{
  margin-bottom: 0 !important
}

.fr-home-follow, .fr-container-blue{
  background-color: var(--background-alt-blue-france);
}

.fr-container--grey{
  background-color: var(--background-contrast-raised-grey);
}
.fr-backgroud--grey{
  background-color: var(--text-inverted-grey);
}

.fr-citation{
  padding: 0 0 0 2rem;
  background-size: 1px 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));
}

.perimetre-organisme td{
  background-color: var(--artwork-background-purple-glycine) !important;
}

.fr-search-bar .fr-btn--filter::before {
  -webkit-mask-image: image-url("icons/system/filter-line.svg") !important;
  mask-image: image-url("icons/system/filter-line.svg") !important;
}

.fr-fieldset--inline {
  .fr-fieldset__content {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .fr-fieldset__legend {
    margin-bottom: 0.5rem;
  }
}
