<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Ministère
                <br>de l'économie,<br>des finances<br>et de la souveraineté<br> industrielle et numérique
              </p>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to root_path, title: "Accueil - Anaco" do %>
              <p class="fr-header__service-title">ANACO <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">BÊTA</span></p>
            <%end %>
            <p class="fr-header__service-tagline">Analyses et avis du contrôle budgétaire</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
