<div class="fr-alert fr-alert--warning">
  <h3 class="fr-alert__title">Attention, vous êtes actuellement sur le site de test de fonctionnalités d’ANACO.</h3>
  <p>Les données renseignées ici sont des données de test. Pour travailler sur ANACO, rendez-vous sur <a href="https://budgetlab.finances.gouv.fr/anaco" target="_blank">https://budgetlab.finances.gouv.fr/anaco</a></p>
</div>