<div class="fr-container fr-container--fluid fr-container-md">
  <h1 class="fr-mt-6w fr-mb-2w">
    Schéma de fin de gestion du programme n°<%= @schema.programme.numero %>
  </h1>
  <div class="fr-text--italic fr-text--light fr-my-2w">Version du <%= l(@schema.updated_at, format: "%e/%m/%y") %></div>
  <% if @vision_rprog_ht2 %>
    <h2 class="fr-mb-1w">Vision HT2</h2>
    <%= render partial: 'show_vision', locals: { vision: "HT2", vision_rprog: @vision_rprog_ht2, vision_cbcm: @vision_cbcm_ht2 } %>
  <% end %>
  <% if @vision_rprog_t2 %>
    <h2 class="fr-mb-1w">Vision T2</h2>
    <%= render partial: 'show_vision', locals: { vision: "T2", vision_rprog: @vision_rprog_t2, vision_cbcm: @vision_cbcm_t2 } %>
  <% end %>
</div>